<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">
        <img src="{{ '/assets/images/Dadams_logo.png' | relative_url }}" width="200" height="30" class="mt-2" alt="Dadams solutions llc">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
</nav>
