body {
    font-family: "Nunito", sans-serif;
    font-weight: 200;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato", sans-serif;
}

a.active {
    font-weight: 700;
}

main {
    margin-top: 60px;
}

#front-jumbo {
    margin-top: -4.5em;
    position: relative;
}

#front-jumbo img {
    width: 100%;
    height: auto;
    display: block;
}

#front-jumbo .rounded {
    position: absolute;
    top: 20%;
    padding: 20px;
    background-color: rgba(83, 83, 83, 0.9);
    color: white;
}
